@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');


@media screen and (min-width: 768px) {
    
}


body {
    margin: 0%;
}

.container {
    display: flex;
}

#container-01 {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),
        url(../Discord/Header\ Background.png);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.texto h1 {
    max-width: 313px;
    color: #FFF;
    font-family: Luckiest Guy;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto p {
    max-width: 757px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    display: inline-block;
    padding: 2%;
}

#but1 {
    border-radius: 28px;
    background: #FFF;
    width: 205px;
    height: 44px;
    color: #23272A;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#but2 {
    border-radius: 28px;
    background: #23272A;
    width: 281px;
    height: 44px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-02 {
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 5%;
}

.item1 {
    width: 100%;
    height: auto;
}

.item2 h1 {
    max-width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item2 p {
    max-width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-03 {
    background: #F6F6F6;
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 5%;
}

.item3 h1 {
    max-width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item3 p {
    max-width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item4 {
    width: 100%;
    height: auto;
}

#container-04 {
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 5%;
}

.item5 {
    width: 100%;
    height: auto;
}

.item6 h1 {
    max-width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item6 p {
    max-width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-05 {
    display: flex;
    background: #F6F6F6;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 10px 5%;
}

.item7 h1 {
    max-width: 608px;
    color: #23272A;
    font-family: Luckiest Guy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item7 p {
    max-width: 802px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item8 {
    width: 100%;
    height: auto;
}

#container-06 {
    display: block;
    background: #23272A;
    width: 100%;
    height: auto;
    padding: 35px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item9 {
    width: 100%;
    height: auto
}