@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');


@media screen and (max-width: 430px) {}


body {
    margin: 0%;
}

.container {
    display: flex;
}

#container-01 {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),
        url(../Discord/Header\ Background.png);
    width: 1280px;
    height: 459px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.texto h1 {
    padding: 0px 484px 0px 484px;
    /* Quatro valores: superior, direito, inferior, esquerdo */
    width: 300px;
    color: #FFF;
    text-align: center;
    font-family: Luckiest Guy;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto p {
    padding: 0px 262px 0px 262px;
    /* Quatro valores: superior, direito, inferior, esquerdo */
    width: 757px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    display: inline-block;
}

#but1 {
    border-radius: 28px;
    background: #FFF;
    color: #23272A;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 205px;
    height: 44px;
    flex-shrink: 0;
}

#but2 {
    border-radius: 28px;
    background: #23272A;
    width: 281px;
    height: 44px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-02 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 155px 10px 155px;
    /* Quatro valores: superior, direito, inferior, esquerdo */
}

.item1 {
    width: 607px;
    height: 394px;
}

.item2 h1 {
    width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item2 p {
    width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-03 {
    background: #F6F6F6;
    display: flex;
    width: 1280px;
    height: 448px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.item3 h1 {
    width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item3 p {
    width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item4 {
    width: 607px;
    height: 394px;
    flex-shrink: 0;
}

#container-04 {
    display: flex;
    width: 1280px;
    height: 448px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.item5 {
    width: 607px;
    height: 394px;
    flex-shrink: 0;
}

.item6 h1 {
    width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item6 p {
    width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container-05 {
    display: flex;
    width: 1280px;
    padding: 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.item7 h1 {
    width: 608px;
    color: #23272A;
    text-align: center;
    font-family: Luckiest Guy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item7 p {
    width: 802px;
    color: #23272A;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item8 {
    width: 784px;
    height: 508px;
}

#container-06 {
    background: #23272A;
    display: flex;
    width: 1280px;
    height: 134px;
    padding: 35px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item9 {
    width: 230px;
    height: 63px;
    flex-shrink: 0;
}